// LOGO
@keyframes heartbeat
{
  0%, 10%, 20%, 100% { transform: scale(1.000); }
              60%    { transform: scale(1.075); }
    5%, 15%          { transform: scale(1.150); }
}
.logo__image {
  animation: heartbeat 3.5s 0s infinite;
}


// Book 3D

// #libro-modal,
#libro {
  overflow: visible;
  @include fluid-size(--book-width, 1em, 15, 20);
  @include fluid-size(--book-height, 1em, 22.5, 30);
  // --book-width: 20em;
  // --book-height: 30em;
  --book-deep: 2em;
  --book-deep-half: calc(var(--book-deep) / 2);
  --book-deep-half-minus: calc(-1 * var(--book-deep-half));
  --book-radius: .125em;
  --book-offset: .25em;
  perspective: 37.5em;
  // perspective: 70em;
  perspective-origin: center;
  filter: drop-shadow($shadow);
  .image {
    width: var(--book-width);
    height: var(--book-height);
    position: relative;
    transform-style: preserve-3d;
    overflow: visible;
    animation: 6s 0s bookFloat infinite linear;
    // margin-block: auto;
  }
  .image:hover {
    transform: rotateY(0deg);
  }
  .image__inner,
  .image__inner--hover {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--book-width);
    height: var(--book-height);
    transform: translateZ(var(--book-deep-half));
    background-color: #ee8db3;
    border-radius: 0 var(--book-radius) var(--book-radius) 0;
    opacity: 1;
  }
  .image__inner--hover {
    transform: translateZ(var(--book-deep-half-minus)) rotateY(180deg);
    background-color: #ee8db3;
    border-radius: var(--book-radius) 0 0 var(--book-radius);
  }
  .image:before,
  .image:after {
    position: absolute;
    content: ' ';
    left: 0;
    top: var(--book-offset);
    width: var(--book-deep);
    height: calc(var(--book-height) - var(--book-offset) * 2);
    transform: translateX(calc(var(--book-width) - var(--book-deep-half) - var(--book-offset))) rotateY(90deg);
    background: linear-gradient(90deg, 
      $white 0%,
      $light 5%,
      $white 10%,
      $light 15%,
      $white 20%,
      $light 25%,
      $white 30%,
      $light 35%,
      $white 40%,
      $light 45%,
      $white 50%,
      $light 55%,
      $white 60%,
      $light 65%,
      $white 70%,
      $light 75%,
      $white 80%,
      $light 85%,
      $white 90%,
      $light 95%,
      $white 100%
      );
  }
  .image:after {
    left: 0;
    top: 0;
    height: 100%;
    transform: translateX(var(--book-deep-half-minus)) rotateY(-90deg);
    background-color: #ee8db3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.35' height='869.29' viewBox='0 0 45.35 869.29'%3E%3Cpath fill='%23ee8db3' d='M0 869.3h45.35V0H0z'/%3E%3Cpath fill='%23231f20' d='M25.09 822.05v6.86c0 .63-.16 1.11-.47 1.45-.32.34-.75.51-1.3.51-.56 0-1-.17-1.3-.52a2.06 2.06 0 0 1-.47-1.44v-6.86h-3.2l-3.17 3.18 1.22 1.29 1.95-1.96v4.2c0 .55.1 1.18.3 1.9.12.44.35.87.68 1.3.33.41.7.74 1.1.97.4.22.9.38 1.5.45.6.08 1.14.12 1.64.12.88 0 1.62-.13 2.24-.38a4.15 4.15 0 0 0 2.18-2.48c.2-.6.29-1.22.29-1.89v-6.7Z'/%3E%3Cpath fill='%23231f20' d='M12.16 760.66v-3.64c0-1.97.19-3.39.55-4.25.37-.88.95-1.57 1.77-2.07.8-.5 1.78-.75 2.92-.75 1.26 0 2.3.33 3.14.99a5.04 5.04 0 0 1 1.73 2.67c.19.67.28 1.87.28 3.6h7.64v3.45zm7.05-3.44v-1.08c0-.86-.05-1.46-.17-1.8-.13-.33-.33-.59-.61-.78-.28-.2-.63-.3-1.03-.3-.69 0-1.2.28-1.52.82-.24.4-.36 1.12-.36 2.19v.95Zm-2.34-20.11v-3.33h13.32v3.33h-1.4a5.59 5.59 0 0 1 1.75 4.1c0 1.72-.67 3.22-2 4.47a6.96 6.96 0 0 1-4.99 1.9c-2.06 0-3.75-.62-5.06-1.83a5.83 5.83 0 0 1-1.97-4.44 5.63 5.63 0 0 1 1.82-4.2zm2.73 3.51c0 1.04.37 1.9 1.11 2.6a3.94 3.94 0 0 0 2.81 1.03 4 4 0 0 0 2.85-1.05c.74-.7 1.1-1.56 1.1-2.58 0-1.06-.36-1.94-1.09-2.62a4 4 0 0 0-2.87-1.05 3.9 3.9 0 0 0-2.83 1.05 3.48 3.48 0 0 0-1.08 2.62zM11.94 730v-3.33h4.93v-1.98h2.87v1.98H30.2V730H19.74v1.72h-2.87V730Zm4.93-16.98v-3.32h13.32v3.32h-1.4a5.59 5.59 0 0 1 1.75 4.1c0 1.73-.67 3.22-2 4.48a6.96 6.96 0 0 1-4.99 1.9c-2.06 0-3.75-.62-5.06-1.84a5.83 5.83 0 0 1-1.97-4.43 5.63 5.63 0 0 1 1.82-4.2zm2.73 3.52c0 1.04.37 1.9 1.11 2.6a3.94 3.94 0 0 0 2.81 1.02 4 4 0 0 0 2.85-1.04c.74-.7 1.1-1.56 1.1-2.58 0-1.06-.36-1.94-1.09-2.63a4 4 0 0 0-2.87-1.04 3.9 3.9 0 0 0-2.83 1.04 3.48 3.48 0 0 0-1.08 2.63zm-7.89-27.1v-3.33h18.48v3.33h-1.4a5.59 5.59 0 0 1 1.75 4.1c0 1.73-.67 3.22-2 4.48a6.96 6.96 0 0 1-4.99 1.89c-2.06 0-3.75-.6-5.06-1.83a5.83 5.83 0 0 1-1.97-4.44 5.63 5.63 0 0 1 1.82-4.2zm7.9 3.52c0 1.04.36 1.9 1.1 2.6a3.94 3.94 0 0 0 2.81 1.02 4 4 0 0 0 2.85-1.04c.74-.7 1.1-1.56 1.1-2.58 0-1.07-.36-1.94-1.09-2.63a4 4 0 0 0-2.87-1.04 3.9 3.9 0 0 0-2.83 1.04 3.48 3.48 0 0 0-1.08 2.63zm4.88-23.58v10.75c.95-.15 1.7-.57 2.27-1.25a3.9 3.9 0 0 0 .84-2.58c0-1.25-.44-2.32-1.31-3.21l1.33-2.83c.99.7 1.72 1.55 2.2 2.53.48.98.72 2.15.72 3.5 0 2.09-.66 3.79-1.97 5.1a6.76 6.76 0 0 1-4.97 1.98 6.95 6.95 0 0 1-5.06-1.97 6.61 6.61 0 0 1-2.02-4.94c0-2.1.67-3.8 2.02-5.1a7.28 7.28 0 0 1 5.33-2zm-2.62 3.36c-.75.22-1.36.66-1.82 1.31-.46.65-.7 1.4-.7 2.25 0 .93.26 1.75.78 2.46.34.44.92.84 1.74 1.22zm-2.32-26.13 1.54 2.78a4.78 4.78 0 0 0-1.13 1.55c-.22.51-.33 1.11-.33 1.8 0 1.25.38 2.26 1.13 3.03a3.83 3.83 0 0 0 2.87 1.16 3.7 3.7 0 0 0 2.78-1.11 4.06 4.06 0 0 0 1.08-2.94c0-1.49-.5-2.65-1.53-3.49l1.8-2.64c1.85 1.43 2.78 3.45 2.78 6.05 0 2.34-.7 4.18-2.08 5.52a6.86 6.86 0 0 1-4.87 1.98 6.82 6.82 0 0 1-6.13-3.66 8.05 8.05 0 0 1-.94-3.89c0-1.32.27-2.5.8-3.56a6.72 6.72 0 0 1 2.23-2.58zm-2.68-12.86v-3.33h13.32v3.33h-1.4a5.59 5.59 0 0 1 1.75 4.1c0 1.72-.67 3.22-2 4.47a6.96 6.96 0 0 1-4.99 1.9c-2.06 0-3.75-.61-5.06-1.83a5.83 5.83 0 0 1-1.97-4.44 5.63 5.63 0 0 1 1.82-4.2zm2.73 3.51c0 1.04.37 1.9 1.11 2.6a3.94 3.94 0 0 0 2.81 1.03 4 4 0 0 0 2.85-1.05c.74-.7 1.1-1.55 1.1-2.58 0-1.06-.36-1.94-1.09-2.62a4 4 0 0 0-2.87-1.05 3.9 3.9 0 0 0-2.83 1.05 3.48 3.48 0 0 0-1.08 2.62zm-2.73-10.21v-3.35h1.36a7.95 7.95 0 0 1-1.33-2.04 5.08 5.08 0 0 1-.38-1.91c0-1.32.46-2.44 1.38-3.36.8-.78 1.95-1.17 3.48-1.17h8.81v3.31h-5.84c-1.6 0-2.65.08-3.17.22s-.92.38-1.19.73c-.28.36-.42.8-.42 1.33 0 .68.23 1.26.69 1.75.45.48 1.07.82 1.87 1 .42.1 1.32.14 2.7.14h5.36v3.35zm0-24.91v-3.33h11.42c2.25 0 3.9.45 4.97 1.36 1.43 1.22 2.15 3.05 2.15 5.5 0 1.31-.16 2.42-.5 3.31a5.76 5.76 0 0 1-3.73 3.6v-3.7c.37-.31.66-.73.84-1.24.2-.52.3-1.13.3-1.83 0-.9-.14-1.62-.42-2.17a2.5 2.5 0 0 0-1.08-1.16 5.38 5.38 0 0 0-2.28-.34 5.6 5.6 0 0 1 1.28 1.86c.25.64.37 1.37.37 2.18 0 1.8-.64 3.31-1.93 4.55a6.82 6.82 0 0 1-4.9 1.84 6.8 6.8 0 0 1-5.1-1.96 5.86 5.86 0 0 1-1.32-6.41c.29-.69.75-1.38 1.4-2.06zm2.78 3.47c0 1.05.35 1.92 1.06 2.6.7.7 1.59 1.04 2.66 1.04a3.6 3.6 0 0 0 3.8-3.7c0-1.04-.35-1.89-1.04-2.57a3.76 3.76 0 0 0-2.73-1.02 3.51 3.51 0 0 0-3.75 3.64zm-2.78-10.16v-3.39h6.42c1.25 0 2.12-.08 2.6-.25.49-.17.86-.45 1.13-.83.28-.38.4-.85.4-1.4 0-.55-.12-1.02-.38-1.4-.27-.4-.67-.7-1.19-.88-.37-.14-1.2-.2-2.45-.2h-6.53v-3.37h5.64c2.33 0 3.93.19 4.78.55a5.21 5.21 0 0 1 2.42 1.99c.55.87.83 1.99.83 3.34a5.9 5.9 0 0 1-.99 3.55 5.17 5.17 0 0 1-2.73 1.89c-.8.27-2.27.4-4.4.4zm0-14.28v-2.88h1.67c-.66-.3-1.16-.7-1.5-1.22a3.02 3.02 0 0 1-.17-3.06l2.87 1.05c-.2.39-.3.71-.3.97 0 .5.33.94.97 1.3.64.35 1.89.53 3.74.53l.65-.02h5.4v3.33zm-.35-15.08a7.03 7.03 0 0 1 3.52-6.13 7.05 7.05 0 0 1 9.58 2.56c.61 1.08.92 2.27.92 3.55 0 1.92-.68 3.56-2.03 4.91a6.81 6.81 0 0 1-4.97 2.02 6.74 6.74 0 0 1-5.2-2.29 6.72 6.72 0 0 1-1.82-4.62zm3.14-.05c0 1.05.37 1.9 1.1 2.6a3.84 3.84 0 0 0 2.76 1.03c1.17 0 2.11-.34 2.83-1.02a3.44 3.44 0 0 0 1.08-2.6c0-1.04-.36-1.91-1.1-2.6a3.9 3.9 0 0 0-2.8-1.05c-1.14 0-2.07.35-2.79 1.03a3.43 3.43 0 0 0-1.08 2.61zm0 0' aria-label='Pata de canguro'/%3E%3Cpath fill='%23231f20' d='M16.4 549.44v-1.25h11.26v-4.78h1.2v6.03Zm3.26-16.98h9.2v1.16h-1.58a4.54 4.54 0 0 1 1.81 3.7 4.77 4.77 0 0 1-4.86 4.72 4.64 4.64 0 0 1-3.38-1.4 4.57 4.57 0 0 1-1.42-3.35 4.31 4.31 0 0 1 1.92-3.67h-1.7zm.9 4.74a3.57 3.57 0 0 0 1.86 3.16 3.67 3.67 0 0 0 3.72 0 3.66 3.66 0 0 0 .07-6.35 3.82 3.82 0 0 0-1.9-.47c-1.06 0-1.96.35-2.67 1.06a3.47 3.47 0 0 0-1.07 2.6zm-4.7-12.63c0-.27.1-.5.3-.69.19-.2.42-.3.69-.3.27 0 .5.1.68.3.2.19.29.42.29.69a.96.96 0 0 1-.97.97c-.27 0-.5-.1-.7-.28a.95.95 0 0 1-.29-.69zm3.8.6v-1.2h9.2v1.2zm0-3.64v-1.17h1.6a4.67 4.67 0 0 1-1.3-1.27 3.7 3.7 0 0 1-.53-1.9 3.1 3.1 0 0 1 .95-2.24c.3-.26.7-.48 1.25-.66-.72-.4-1.27-.89-1.64-1.48a3.53 3.53 0 0 1-.56-1.92 2.95 2.95 0 0 1 1.82-2.77 7.07 7.07 0 0 1 2.58-.36h5.03v1.2h-5.03c-.98 0-1.65.08-2.01.22-.38.15-.68.4-.91.74-.23.33-.34.74-.34 1.22 0 .57.17 1.1.51 1.57a3 3 0 0 0 1.36 1.05c.56.22 1.5.33 2.81.33h3.61v1.17h-4.72c-1.1 0-1.85.07-2.25.2-.4.14-.72.38-.96.72-.24.35-.36.76-.36 1.24 0 .54.16 1.05.5 1.53.33.48.78.84 1.34 1.06.55.23 1.4.35 2.55.35h3.9v1.17zm0-16.3v-1.17h1.69c-.65-.47-1.13-1-1.44-1.6a4.36 4.36 0 0 1-.48-2.05c0-1.3.47-2.42 1.42-3.35a4.63 4.63 0 0 1 3.39-1.4c1.35 0 2.5.46 3.45 1.39.94.91 1.4 2.02 1.4 3.33a4.62 4.62 0 0 1-1.8 3.68h4.95v1.17zm.9-4.73a3.65 3.65 0 0 0 3.75 3.66c.7 0 1.33-.16 1.9-.47a3.73 3.73 0 0 0 1.81-3.2 3.7 3.7 0 0 0-1.87-3.14 3.75 3.75 0 0 0-5.1 1.34 3.56 3.56 0 0 0-.48 1.81zm-1.13-11.41c0-1.42.5-2.6 1.53-3.54a4.81 4.81 0 0 1 3.32-1.26 4.78 4.78 0 0 1 4.82 4.8 4.77 4.77 0 0 1-4.81 4.8 4.75 4.75 0 0 1-3.32-1.29 4.52 4.52 0 0 1-1.54-3.51zm1.15 0c0 .98.37 1.82 1.1 2.53.73.7 1.6 1.04 2.64 1.04.66 0 1.28-.15 1.86-.46a3.58 3.58 0 0 0 1.8-3.1 3.53 3.53 0 0 0-1.8-3.12 3.74 3.74 0 0 0-1.86-.49c-1.04 0-1.91.36-2.64 1.06a3.43 3.43 0 0 0-1.1 2.54zm-.92-6.56v-1.2H21a4.28 4.28 0 0 1-1.18-1.14 2.3 2.3 0 0 1-.4-1.25c0-.33.11-.69.32-1.06l1 .62a1.6 1.6 0 0 0-.17.63c0 .4.16.77.5 1.14.32.36.82.64 1.5.84.52.15 1.58.22 3.18.22h3.11v1.2zm-3.42-6.7v-1.19h3.42v-1.87h1.02v1.87h8.18v1.19h-8.18v1.62h-1.02v-1.62zm3.42-14h9.2v1.15h-1.58c.61.5 1.06 1.07 1.36 1.7.3.6.46 1.28.46 2a4.77 4.77 0 0 1-4.86 4.72 4.64 4.64 0 0 1-3.4-1.38 4.57 4.57 0 0 1-1.41-3.36 4.31 4.31 0 0 1 1.92-3.68h-1.7zm.9 4.73a3.57 3.57 0 0 0 1.86 3.16 3.67 3.67 0 0 0 3.72 0 3.66 3.66 0 0 0 .07-6.34 3.82 3.82 0 0 0-1.9-.47c-1.06 0-1.96.35-2.67 1.06a3.47 3.47 0 0 0-1.07 2.6zm-.9-7.4v-1.19h1.64c-.62-.47-1.1-1-1.4-1.58a3.84 3.84 0 0 1-.47-1.87 3.24 3.24 0 0 1 1.93-3.02c.6-.25 1.52-.37 2.77-.37h4.73v1.17h-4.39c-1.06 0-1.77.05-2.12.14-.6.14-1.06.4-1.36.8-.31.39-.47.89-.47 1.51a3.28 3.28 0 0 0 2.47 3.05c.46.12 1.3.17 2.5.17h3.37v1.19zm1.9-19.51.6.94a3.94 3.94 0 0 0-1.63 3.32c0 1.12.37 2.05 1.1 2.8a3.71 3.71 0 0 0 4.52.6c.59-.35 1.05-.82 1.38-1.41.33-.6.49-1.26.49-2 0-1.35-.54-2.46-1.63-3.31l.63-.94a4.43 4.43 0 0 1 1.53 1.76c.36.75.55 1.59.55 2.54 0 1.46-.46 2.66-1.38 3.62a4.78 4.78 0 0 1-5.86.77 4.71 4.71 0 0 1-1.8-1.85 5.42 5.42 0 0 1-.63-2.64 5.5 5.5 0 0 1 1-3.2c.3-.4.68-.73 1.14-1zm-5.7-2.7c0-.27.1-.5.3-.69.19-.2.42-.3.69-.3.27 0 .5.1.68.3.2.19.29.42.29.69a.96.96 0 0 1-.97.97c-.27 0-.5-.1-.7-.28a.95.95 0 0 1-.29-.7zm3.8.6v-1.2h9.2v1.2zm0-12.82h9.2v1.16h-1.58c.61.5 1.06 1.06 1.36 1.69.3.62.46 1.29.46 2.01a4.77 4.77 0 0 1-4.86 4.72 4.64 4.64 0 0 1-3.4-1.39 4.57 4.57 0 0 1-1.41-3.36 4.31 4.31 0 0 1 1.92-3.67h-1.7zm.9 4.74a3.57 3.57 0 0 0 1.86 3.16 3.67 3.67 0 0 0 3.72 0 3.66 3.66 0 0 0 .07-6.35 3.82 3.82 0 0 0-1.9-.47c-1.06 0-1.96.36-2.67 1.07a3.47 3.47 0 0 0-1.07 2.59zm-4.46-21.4h12.76v1.16h-1.58a4.57 4.57 0 0 1 1.81 3.7 4.77 4.77 0 0 1-4.86 4.72 4.64 4.64 0 0 1-3.38-1.38 4.57 4.57 0 0 1-1.42-3.36 4.31 4.31 0 0 1 1.92-3.68H16.1zm4.47 4.74a3.57 3.57 0 0 0 1.86 3.16 3.67 3.67 0 0 0 3.71 0 3.66 3.66 0 0 0 .07-6.34 3.82 3.82 0 0 0-1.9-.47c-1.06 0-1.96.35-2.67 1.06a3.47 3.47 0 0 0-1.07 2.6zm5.25-15.17.51-1c.65.33 1.17.7 1.56 1.13a4.48 4.48 0 0 1 1.2 3.27c0 1.5-.48 2.67-1.46 3.53a5.01 5.01 0 0 1-6.47.18 4.39 4.39 0 0 1-1.73-3.64c0-1.57.59-2.82 1.78-3.76a5 5 0 0 1 3.14-1.02v8.28a3.77 3.77 0 0 0 2.64-1.01 3.28 3.28 0 0 0 1.03-2.46c0-.46-.08-.92-.25-1.35a3.61 3.61 0 0 0-.66-1.15 5.4 5.4 0 0 0-1.3-1zm-2.49 0a3.9 3.9 0 0 0-1.51.7c-.38.3-.68.7-.91 1.2a3.5 3.5 0 0 0 .52 3.87 3.9 3.9 0 0 0 1.9 1.08zm-7.47-8.77c0-.27.1-.5.3-.69a.94.94 0 0 1 .69-.28c.27 0 .5.1.68.28.2.2.29.42.29.7 0 .26-.1.5-.29.7a.93.93 0 0 1-.68.28c-.27 0-.5-.1-.7-.29a.96.96 0 0 1-.29-.7zm3.8.6v-1.2h10.6c.76 0 1.33.13 1.68.41.35.28.53.66.53 1.14 0 .4-.1.85-.3 1.36h-1.06c.17-.32.25-.6.25-.86a.78.78 0 0 0-.4-.71 2.5 2.5 0 0 0-1.05-.15zm0-3.52v-1.2h4.3c1.05 0 1.77-.05 2.17-.16a2.41 2.41 0 0 0 1.34-.97c.33-.48.49-1.05.49-1.7 0-.66-.16-1.22-.49-1.68a2.38 2.38 0 0 0-1.25-.95 8.55 8.55 0 0 0-2.26-.19h-4.3v-1.2h4.52c1.27 0 2.23.15 2.87.45.64.3 1.14.74 1.5 1.33.36.6.55 1.34.55 2.23 0 .9-.19 1.65-.55 2.25-.36.6-.87 1.05-1.52 1.35-.65.3-1.63.44-2.93.44zm0-18.62v-1.19h7.33a9 9 0 0 1 2.84.33c.85.31 1.5.85 1.95 1.62a6.33 6.33 0 0 1 .34 4.9 4.2 4.2 0 0 1-.88 1.54c-.38.39-.92.75-1.64 1.08v-1.28c.6-.35 1.05-.8 1.34-1.36.29-.55.44-1.24.44-2.05 0-.81-.15-1.49-.45-2.04-.31-.56-.69-.95-1.15-1.2a4.98 4.98 0 0 0-2.2-.35h-.47a4.68 4.68 0 0 1 1.75 3.69c0 .84-.2 1.64-.62 2.39a4.53 4.53 0 0 1-4.05 2.32 4.7 4.7 0 0 1-4.12-2.39 4.71 4.71 0 0 1-.22-4.3c.28-.59.75-1.16 1.4-1.71zm.9 3.5c0 .67.17 1.3.49 1.87.32.58.77 1.03 1.34 1.35.58.32 1.2.48 1.86.48a3.4 3.4 0 0 0 2.52-1c.66-.67.98-1.55.98-2.64 0-1.08-.32-1.96-.98-2.62-.66-.67-1.52-1-2.58-1-.7 0-1.32.15-1.86.46-.55.3-.98.74-1.3 1.3a3.6 3.6 0 0 0-.46 1.8zm-.9-16.4h9.2v1.16h-1.58a4.54 4.54 0 0 1 1.81 3.7 4.77 4.77 0 0 1-4.86 4.72 4.64 4.64 0 0 1-3.38-1.4 4.57 4.57 0 0 1-1.42-3.35 4.31 4.31 0 0 1 1.92-3.67h-1.7zm.9 4.73a3.57 3.57 0 0 0 1.86 3.16 3.67 3.67 0 0 0 3.72 0 3.66 3.66 0 0 0 .07-6.34 3.82 3.82 0 0 0-1.9-.47c-1.06 0-1.96.35-2.67 1.06a3.47 3.47 0 0 0-1.07 2.6zm-.9-6.96V351H21a4.28 4.28 0 0 1-1.18-1.14 2.3 2.3 0 0 1-.4-1.25c0-.34.11-.7.32-1.07l1 .63a1.6 1.6 0 0 0-.17.62c0 .4.16.78.5 1.14.32.37.82.65 1.5.85.52.15 1.58.22 3.18.22h3.11v1.2zm0 0' aria-label='La importancia de jugar'/%3E%3Cpath fill='%23231f20' d='M13.11 315.9h19.13v-99.2H13.11z'/%3E%3Cpath fill='%23fff' d='M27.99 304.62H17.82v-.22l7.78-6.75h-7.78v-1.01h10.17v.23l-7.69 6.7h7.69Zm-10.63-10.65c0-.22.09-.4.25-.56a.77.77 0 0 1 .57-.24c.21 0 .4.08.56.24.15.15.23.34.23.56 0 .22-.08.4-.23.56a.77.77 0 0 1-.56.24.77.77 0 0 1-.57-.24.75.75 0 0 1-.25-.56zm3.11.48v-.97H28v.97Zm5.02-9.3.44-.81c.52.26.94.57 1.26.92.32.34.57.74.74 1.19.16.43.25.93.25 1.48a3.6 3.6 0 0 1-1.2 2.87c-.8.7-1.72 1.04-2.73 1.04-.95 0-1.8-.3-2.56-.88a3.6 3.6 0 0 1-1.42-2.98c0-1.28.5-2.3 1.47-3.07a4.1 4.1 0 0 1 2.56-.82v6.75c.88-.01 1.6-.29 2.16-.83s.84-1.2.84-2c0-.39-.07-.76-.2-1.11a2.9 2.9 0 0 0-.53-.92 4.24 4.24 0 0 0-1.08-.83zm-2.02 0c-.52.12-.93.31-1.23.56-.31.24-.56.56-.75.97-.19.4-.28.84-.28 1.28 0 .74.23 1.38.7 1.9.34.4.87.69 1.56.88zm-3-2.16v-1.03l5.47-2.51-5.47-2.5v-1.04l7.52 3.44v.17zm5.02-14.9.44-.8c.52.26.94.57 1.26.92.32.34.57.74.74 1.18.16.44.25.94.25 1.49a3.6 3.6 0 0 1-1.2 2.87c-.8.7-1.72 1.04-2.73 1.04-.95 0-1.8-.3-2.56-.88a3.6 3.6 0 0 1-1.42-2.98c0-1.29.5-2.3 1.47-3.07a4.1 4.1 0 0 1 2.56-.82v6.75c.88-.01 1.6-.29 2.16-.83s.84-1.21.84-2c0-.39-.07-.76-.2-1.11a2.9 2.9 0 0 0-.53-.92 4.24 4.24 0 0 0-1.08-.83zm-2.02 0c-.52.13-.93.32-1.23.57-.31.24-.56.56-.75.97-.19.4-.28.83-.28 1.28 0 .74.23 1.38.7 1.9.34.4.87.69 1.56.88zm-2.19-6.65.65.63c-.5.5-.75 1.01-.75 1.51 0 .31.1.59.3.81.22.22.46.33.74.33.24 0 .47-.1.69-.28.23-.19.5-.57.8-1.15.37-.72.73-1.21 1.07-1.47.36-.25.75-.38 1.2-.38.6 0 1.13.22 1.55.66.43.43.65.96.65 1.6 0 .44-.1.86-.29 1.26-.18.38-.44.7-.78.97l-.68-.61c.56-.5.84-1.01.84-1.57 0-.38-.13-.7-.38-.98a1.15 1.15 0 0 0-.89-.42c-.27 0-.51.1-.73.28-.2.18-.47.58-.8 1.22-.35.68-.7 1.13-1.04 1.37-.34.24-.72.36-1.16.36a1.9 1.9 0 0 1-1.42-.58 2 2 0 0 1-.58-1.46c0-.7.34-1.4 1.01-2.1zm-3.46-5.8v-1.03H27v-3.9H28v4.93zm2.65-13.88H28v.95h-1.3c.5.4.88.87 1.13 1.38.23.5.36 1.05.36 1.65a3.7 3.7 0 0 1-1.16 2.74 3.88 3.88 0 0 1-2.81 1.12c-1.09 0-2.01-.38-2.78-1.14a3.72 3.72 0 0 1-1.16-2.75c0-.61.14-1.17.4-1.67.27-.5.66-.94 1.18-1.33h-1.38zm.74 3.87c0 .55.13 1.05.4 1.5.26.46.64.83 1.11 1.1a3.12 3.12 0 0 0 4.17-1.11 2.92 2.92 0 0 0 0-2.97 2.8 2.8 0 0 0-1.07-1.1 3.1 3.1 0 0 0-1.55-.39c-.88 0-1.6.3-2.19.86a2.85 2.85 0 0 0-.87 2.11zm-.74-5.68v-.99h1.1a3.3 3.3 0 0 1-.97-.92 1.85 1.85 0 0 1-.33-1.03c0-.27.09-.56.26-.86l.82.5c-.1.2-.14.38-.14.51 0 .33.13.64.4.94.26.3.67.53 1.24.69.43.12 1.29.17 2.6.17h2.54v.99zm0-12.13H28v.96h-1.3c.5.4.88.86 1.13 1.37.23.5.36 1.06.36 1.66a3.7 3.7 0 0 1-1.16 2.73 3.88 3.88 0 0 1-2.81 1.13c-1.09 0-2.01-.38-2.78-1.14a3.72 3.72 0 0 1-1.16-2.75c0-.62.14-1.17.4-1.67.27-.5.66-.95 1.18-1.33h-1.38zm.74 3.88c0 .54.13 1.04.4 1.5.26.46.64.82 1.11 1.1a3.12 3.12 0 0 0 4.17-1.12 2.92 2.92 0 0 0 0-2.97 2.8 2.8 0 0 0-1.07-1.09 3.1 3.1 0 0 0-1.55-.39c-.88 0-1.6.29-2.19.86a2.85 2.85 0 0 0-.87 2.1zm0 0' aria-label='Nieves Lara'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@keyframes bookFloat {
  to{
    transform: rotateY(360deg);
  }
}


// BLOG

// blockquote
.md blockquote:not(.quotes, .dittos) {
  padding-inline: 0;
  &:before,
  &:after {
    content: none;
  }
}
// cite
.md blockquote cite:before {
  content: none;
}
// copiright
#cc svg {
  opacity: 1;
}
// fix alert in terrores-nocturnos
#terrores-nocturnos + p + .alert:not(#aux) {
  margin-top: 1em;
}
// cancelled
.cancelled {
  position: absolute;
  top: 50%;
  translate: 0 -75%;
  font-size: .4em;
  text-align: center;
  background-color: RGB(255 0 0 / 70%);
}